body{
  font-family: 'Maven Pro', sans-serif;
}
.height{
	min-height: 100vh;
}
.text-underline{
	margin: 0 auto;
	height: 10px;
	width: 250px;
}
.height-80{
	min-height: 80vh;
}
.about-picture{
	background: url(../img/about-bg.jpg)center/cover no-repeat fixed;
/*	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
#projects{
	min-height: 100vh;
}
#team{
	min-height: 100vh;
}
#filler, #progress{
	background: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.7)), url(../img/filler.jpg)center/cover no-repeat fixed;
/*	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}
/*you can give position to the transparency like below*/
/*#filler{
	background: linear-gradient(to right,rgb(0,0,0,0.4),rgb(0,0,0,0.7)), url(../img/filler.jpg)center/cover no-repeat fixed;
	}*/

